/*
 * Syntax Highlighting - Dark Greyscale Theme
 * Inverted for dark mode
 */

.highlight {
  background-color: #252525;
  border-radius: 0.5rem;
  border-left: 4px solid #555555;
  margin-bottom: 1.5rem;
}

.highlight pre {
  margin: 0;
  padding: 1.5rem;
  background-color: transparent;
  border: none;
}

.highlight .hll { background-color: #333333 }
.highlight .c { color: #777777; font-style: italic } /* Comment */
.highlight .err { color: #e0e0e0; font-weight: bold } /* Error */
.highlight .k { color: #e0e0e0; font-weight: bold } /* Keyword */
.highlight .o { color: #c0c0c0 } /* Operator */
.highlight .cm { color: #777777; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #e0e0e0; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #777777; font-style: italic } /* Comment.Single */
.highlight .cs { color: #777777; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a0a0a0 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #e0e0e0 } /* Generic.Error */
.highlight .gh { color: #e0e0e0; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #c0c0c0 } /* Generic.Inserted */
.highlight .go { color: #777777 } /* Generic.Output */
.highlight .gp { color: #777777; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #a0a0a0; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #e0e0e0 } /* Generic.Traceback */
.highlight .kc { color: #e0e0e0; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #e0e0e0; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #e0e0e0; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #e0e0e0; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #e0e0e0; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #e0e0e0; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #c0c0c0 } /* Literal.Number */
.highlight .s { color: #a0a0a0 } /* Literal.String */
.highlight .na { color: #c0c0c0 } /* Name.Attribute */
.highlight .nb { color: #e0e0e0 } /* Name.Builtin */
.highlight .nc { color: #e0e0e0; font-weight: bold } /* Name.Class */
.highlight .no { color: #c0c0c0 } /* Name.Constant */
.highlight .nd { color: #a0a0a0 } /* Name.Decorator */
.highlight .ni { color: #c0c0c0 } /* Name.Entity */
.highlight .ne { color: #e0e0e0; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #e0e0e0; font-weight: bold } /* Name.Function */
.highlight .nl { color: #c0c0c0; font-weight: bold } /* Name.Label */
.highlight .nn { color: #c0c0c0 } /* Name.Namespace */
.highlight .nt { color: #c0c0c0 } /* Name.Tag */
.highlight .nv { color: #a0a0a0 } /* Name.Variable */
.highlight .ow { color: #e0e0e0; font-weight: bold } /* Operator.Word */
.highlight .w { color: #c0c0c0 } /* Text.Whitespace */
.highlight .mf { color: #c0c0c0 } /* Literal.Number.Float */
.highlight .mh { color: #c0c0c0 } /* Literal.Number.Hex */
.highlight .mi { color: #c0c0c0 } /* Literal.Number.Integer */
.highlight .mo { color: #c0c0c0 } /* Literal.Number.Oct */
.highlight .sb { color: #a0a0a0 } /* Literal.String.Backtick */
.highlight .sc { color: #a0a0a0 } /* Literal.String.Char */
.highlight .sd { color: #a0a0a0 } /* Literal.String.Doc */
.highlight .s2 { color: #a0a0a0 } /* Literal.String.Double */
.highlight .se { color: #c0c0c0 } /* Literal.String.Escape */
.highlight .sh { color: #a0a0a0 } /* Literal.String.Heredoc */
.highlight .si { color: #c0c0c0 } /* Literal.String.Interpol */
.highlight .sx { color: #a0a0a0 } /* Literal.String.Other */
.highlight .sr { color: #c0c0c0 } /* Literal.String.Regex */
.highlight .s1 { color: #a0a0a0 } /* Literal.String.Single */
.highlight .ss { color: #c0c0c0 } /* Literal.String.Symbol */
.highlight .bp { color: #e0e0e0 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #a0a0a0 } /* Name.Variable.Class */
.highlight .vg { color: #a0a0a0 } /* Name.Variable.Global */
.highlight .vi { color: #a0a0a0 } /* Name.Variable.Instance */
.highlight .il { color: #c0c0c0 } /* Literal.Number.Integer.Long */
